<%- include ('../partials/header') %>

<div class="container" style="margin:10% auto; width:40%; background: transparent;">
<h1 style="margin-left:28%">Log In</h1>

<form action="/login" method="POST">

<div class="form-group">
<label for="user"><h4>Username</h4></label>
<input type="text" class="form-control" name="username" id="user" placeholder="Username" style="width : 80%;">
</div>

<div class="form-group">
<label for="pass"><h4>Password</h4></label>
<input type="password" id="pass" class="form-control" name="password" placeholder="Password"  style="width : 80%;">
</div>

<div class="form-group">
<button class="btn btn-info btn-lg" style="margin:10px 30%;">Submit</button>
</div>
</form>
<h6><a href="/register" class="btn btn-sm btn-warning">Sign Up</a></h6>
</div>

<%- include('../partials/footer') %>